<h4 id="nombreUsuario"></h4>
<form id='formChat'>
    <input type="text" name="mensaje" id="mensaje">
    <input type="submit" value="Enviar">

    <p id="chatParrafo"></p>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="index.js"></script>
</form>