<h1 style="margin-left: 20px; margin-top: 5px">SIGN UP</h1>
<form action="/users/signup" method="post">
    First Name: <input type="text" name="first_name" id="first_name">
    Last Name: <input type="text" name="last_name" id="last_name">
    Email: <input type="email" name="email" id="email">
    Age: <input type="number" name="age" id="age">
    <br>
    <br>
    Password: <input type="password" name="password" id="password">
    Cart: <input type="text" name="cart" id="cart">
    <input type="submit" value="Sign Up">
</form>

<h2>Already have an Account? Login Here!</h2>
<button onclick="location.href='/login'">Go to Login</button>