<h1 style="margin-left: 20px;">Add New Product:</h1>
<br>
<form style="margin-left: 20px;" action="/api/products" method="post" id="formulario">
    Title: <input type="text" name="title" id="title">
    Description: <input type="text" name="description" id="description">
    Code: <input type="text" name="code" id="code">
    Price: <input type="number" name="price" id="price">
    <br>
    <br>
    Stock: <input type="number" name="stock" id="stock">
    Category: <input type="text" name="category" id="category">
    <br>
    <br>
    Owner: <input type="text" name="owner" id="owner">
    <input type="submit" value="Add Product">
</form>