<h1>Enter a new password:</h1>
<form action="/users/changePassword" method="post">
    New password: <input type="password" name="newPass" id="newPass">
    <br>
    Repeat password: <input type="password" name="repeatPass" id="repeatPass">
    <br>
    <input type="submit" value="Change Password">
</form>