<h1 style="margin-left: 20px;">Enter a new password:</h1>
<form action="/users/changePassword" method="post" style="margin-left: 20px;">
    New password: <input type="password" name="newPass" id="newPass">
    <br>
    <br>
    Repeat password: <input type="password" name="repeatPass" id="repeatPass">
    <br>
    <br>
    <input type="submit" value="Change Password">
</form>