<h1 style="margin-left: 20px;">Email sent!</h1>

<h2 style="margin-left: 20px;">Check your email for the link</h2>

<h3 style="margin-left: 20px;">Go back to login:</h3>
<button style="margin-left: 20px;" onclick="location.href='/login'">Login</button>