<h1 style="margin-left: 20px;">Forgot password? Reset it!</h1>

<h2 style="margin-left: 20px;">Put in your email so we can send you a link to reset your password:</h2>

<form action="/messages" method="post" style="margin-left: 20px;">
    <input type="email" name="email" id="email">
    <input type="submit" value="Send">
</form>