<h1>Forgot password? Reset it!</h1>

<h2>Put in your email so we can send you a link to reset your password:</h2>

<form action="/messages" method="post">
    <input type="email" name="email" id="email">
    <input type="submit" value="Send">
</form>