<h1 style="margin-left: 20px; margin-top: 20px">LOGIN</h1>
<form action="/users/login" method="post" style="margin-left: 20px; margin-top: 20px">
    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="Login">
</form>

<h2 style="margin-left: 20px; margin-top: 20px">New user? Sign up Here!</h2>
<button style="margin-left: 20px" onclick="location.href='/signup'">Go to Sign Up</button>

<h2 style="margin-left: 20px; margin-top: 20px">Login con Github</h2>
<button style="margin-left: 20px" onclick="location.href='/users/loginGithub'">Github</button>

<h2 style="margin-left: 20px; margin-top: 20px">Forgot password?</h2>
<button style="margin-left: 20px" onclick="location.href='/forgotPassword'">Change password</button>