<h1>LOGIN</h1>
<form action="/users/login" method="post">
    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="Login">
</form>

<h2>New user? Sign up Here!</h2>
<button onclick="location.href='/signup'">Go to Sign Up</button>

<h2>Login con Github</h2>
<button onclick="location.href='/users/loginGithub'">Github</button>