<h1 style="margin-left: 20px; margin-top: 20px">Password changed successfully!</h1>

<h2 style="margin-left: 20px; margin-top: 20px">Go back to login:</h2>
<button style="margin-left: 20px; margin-top: 20px" onclick="location.href='/login'">Go to Login</button>