<h1 style="margin-left: 20px;">Upgrade To Premium!</h1>
<br>
<h2 style="margin-left: 20px;">In order to upgrade you need to send the following documents:</h2>

<form style="margin-left: 20px;" action="/users/:uid/documents" method="post" enctype="multipart/form-data" id="files">
    Identification: <input type="file" name="identification" id="identification">
    <br>
    <br>
    Addres Certificate: <input type="file" name="address" id="address">
    <br>
    <br>
    Account Certificate: <input type="file" name="account" id="account">
    <br>
    <br>
    <input type="submit" value="Submit Documents">
</form>