<h1 style="margin-left: 20px;">Upload your Profile or Products photos!</h1>
<br>

<form style="margin-left: 20px;" action="/users/:uid/documents" method="post" enctype="multipart/form-data"
    id="profiles">
    Profile: <input type="file" name="profile" id="profile">
    <br>
    <br>
    Products: <input type="file" name="product" id="product" multiple>
    <br>
    <br>
    <input type="submit" value="Upload">
</form>
