<h1 style="margin-left: 20px;">Upload your documents and photos!</h1>
<br>

<h2 style="margin-left: 20px;">Upload profile image:</h2>
<form style="margin-left: 20px;" action="/users/:uid/documents" method="post" enctype="multipart/form-data" id="profiles">
    <input type="file" name="profile" id="profile">
    <br>
    <br>
    <input type="submit" value="Upload">
</form>

<br>

<h2 style="margin-left: 20px;">Upload product images:</h2>
<form style="margin-left: 20px;" action="/users/:uid/documents" method="post" enctype="multipart/form-data" id="products">
    <input type="file" name="product" id="product">
    <br>
    <br>
    <input type="submit" value="Upload">
</form>

<br>

<h2 style="margin-left: 20px;">Upload documents:</h2>
<form style="margin-left: 20px;" action="/users/:uid/documents" method="post" enctype="multipart/form-data" id="documents">
    <input type="file" name="document" id="document">
    <br>
    <br>
    <input type="submit" value="Upload">
</form>